## Imports

In [1]:
import yfinance as yf
from pandas import json_normalize
import pandas as pd

## Criando o Ticker

In [2]:
ticker = yf.Ticker('TAEE11.SA')

## Extraindo cotações

In [3]:
ticker.history(period='1d', interval='1m')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-01-19 10:03:00-03:00,35.020000,35.180000,35.020000,35.110001,0,0.0,0.0
2023-01-19 10:04:00-03:00,35.119999,35.200001,35.119999,35.200001,15900,0.0,0.0
2023-01-19 10:05:00-03:00,35.200001,35.200001,35.130001,35.150002,1600,0.0,0.0
2023-01-19 10:06:00-03:00,35.130001,35.160000,35.090000,35.139999,2200,0.0,0.0
2023-01-19 10:07:00-03:00,35.119999,35.160000,35.110001,35.160000,400,0.0,0.0
...,...,...,...,...,...,...,...
2023-01-19 13:48:00-03:00,35.369999,35.369999,35.360001,35.369999,900,0.0,0.0
2023-01-19 13:49:00-03:00,35.369999,35.369999,35.360001,35.369999,700,0.0,0.0
2023-01-19 13:50:00-03:00,35.360001,35.380001,35.360001,35.369999,4200,0.0,0.0
2023-01-19 13:51:00-03:00,35.360001,35.389999,35.360001,35.389999,1600,0.0,0.0
2023-01-19 13:52:00-03:00,35.419998,35.419998,35.419998,35.419998,0,0.0,0.0

## Balanço Patrimônial Anual

In [4]:
ticker.balance_sheet.T

,Total Assets,Current Assets,Cash Cash Equivalents And Short Term Investments,Cash And Cash Equivalents,Cash Financial,Cash Equivalents,Other Short Term Investments,Accounts Receivable,Taxes Receivable,Other Receivables,...,Common Stock Equity,Capital Lease Obligations,Net Tangible Assets,Working Capital,Invested Capital,Tangible Book Value,Total Debt,Net Debt,Share Issued,Ordinary Shares Number
2021-12-31,15895635000.0,2135183000.0,384824000.0,384824000.0,4222000.0,380602000.0,NaN,212069000.0,160897000.0,1377393000.0,...,6684756000.0,15790000.0,6585955000.0,718053000.0,13473852000.0,6585955000.0,6804886000.0,6404272000.0,1033496721.0,1033496721.0
2020-12-31,14105419000.0,2360161000.0,896031000.0,896031000.0,6683000.0,889348000.0,NaN,190378000.0,124355000.0,1149397000.0,...,6025904000.0,31373000.0,5936332000.0,1518518000.0,12247317000.0,5936332000.0,6252786000.0,5325382000.0,1033496721.0,1033496721.0
2019-12-31,11229976000.0,3568430000.0,2419790000.0,82562000.0,757000.0,81805000.0,2337228000.0,128177000.0,101782000.0,918681000.0,...,4926795000.0,35332000.0,4848135000.0,2571929000.0,10234667000.0,4848135000.0,5343204000.0,5225310000.0,1033496721.0,1033496721.0

## Balanço Patrimônial Trímestral

In [5]:
ticker.quarterly_balance_sheet.T

,Total Assets,Current Assets,Cash Cash Equivalents And Short Term Investments,Cash And Cash Equivalents,Cash Financial,Cash Equivalents,Accounts Receivable,Taxes Receivable,Other Receivables,Hedging Assets Current,...,Common Stock Equity,Capital Lease Obligations,Net Tangible Assets,Working Capital,Invested Capital,Tangible Book Value,Total Debt,Net Debt,Share Issued,Ordinary Shares Number
2022-09-30,17852091000.0,3620492000.0,1564460000.0,1564460000.0,1791000.0,1562669000.0,234180000.0,238952000.0,1582900000.0,NaN,...,6950930000.0,7968000.0,6841230000.0,2645187000.0,15416373000.0,6841230000.0,8473411000.0,6900983000.0,1033496721.0,1033496721.0
2022-06-30,18230115000.0,3953127000.0,1843025000.0,1843025000.0,935000.0,1842090000.0,227337000.0,183763000.0,1539666000.0,159336000.0,...,7154162000.0,9746000.0,7052844000.0,2673823000.0,15781128000.0,7052844000.0,8636712000.0,6783941000.0,1033496721.0,1033496721.0
2022-03-31,17394249000.0,3326999000.0,1453195000.0,1453195000.0,3037000.0,1450158000.0,208990000.0,152759000.0,1512055000.0,NaN,...,7244803000.0,13683000.0,7145967000.0,1894003000.0,14920754000.0,7145967000.0,7689634000.0,6222756000.0,1033496721.0,1033496721.0
2021-12-31,15895635000.0,2135183000.0,384824000.0,384824000.0,4222000.0,380602000.0,212069000.0,160897000.0,1377393000.0,NaN,...,6684756000.0,15790000.0,6585955000.0,718053000.0,13473852000.0,6585955000.0,6804886000.0,6404272000.0,1033496721.0,1033496721.0

## Fluxo De Caixa Anual

In [6]:
ticker.cashflow.T

,Operating Cash Flow,Net Income From Continuing Operations,Gain Loss On Sale Of Business,Gain Loss On Investment Securities,Depreciation And Amortization,Depreciation,Deferred Tax,Provisionand Write Offof Assets,Other Non Cash Items,Change In Working Capital,...,Common Stock Dividend Paid,Interest Paid Cff,Net Other Financing Charges,End Cash Position,Changes In Cash,Beginning Cash Position,Capital Expenditure,Issuance Of Debt,Repayment Of Debt,Free Cash Flow
2021-12-31,1448574000.0,2213714000.0,NaN,5078000.0,22652000.0,22652000.0,525495000.0,2040000.0,-1647116000.0,743225000.0,...,NaN,-239443000.0,-11344000.0,384824000.0,-511207000.0,896031000.0,-52356000.0,739539000.0,-757797000.0,1396218000.0
2020-12-31,517544000.0,2262927000.0,NaN,-87417000.0,15280000.0,15280000.0,616183000.0,828000.0,-1754738000.0,49095000.0,...,-1106182000.0,-200746000.0,-5341000.0,896031000.0,813469000.0,82562000.0,-41179000.0,1170161000.0,-942151000.0,476365000.0
2019-12-31,896179000.0,1002315000.0,-9811000.0,-510616000.0,13201000.0,13201000.0,175791000.0,-347000.0,-250177000.0,559567000.0,...,-651341000.0,-200218000.0,-25469000.0,82562000.0,61693000.0,20869000.0,-18811000.0,2294022000.0,-430139000.0,877368000.0

## Fluxo De Caixa Trímestral

In [7]:
ticker.quarterly_cashflow.T

,Operating Cash Flow,Net Income From Continuing Operations,Gain Loss On Investment Securities,Depreciation And Amortization,Depreciation,Deferred Tax,Provisionand Write Offof Assets,Other Non Cash Items,Change In Working Capital,Change In Receivables,...,Cash Dividends Paid,Interest Paid Cff,Net Other Financing Charges,End Cash Position,Changes In Cash,Beginning Cash Position,Capital Expenditure,Issuance Of Debt,Repayment Of Debt,Free Cash Flow
2022-09-30,435751000.0,302454000.0,11362000.0,-1989000.0,-1989000.0,4855000.0,-238000.0,-47623000.0,261624000.0,334380000.0,...,-506730000.0,-113105000.0,136576000.0,1564460000.0,-278565000.0,1843025000.0,NaN,362571000.0,-529314000.0,461670000.0
2022-06-30,630354000.0,564022000.0,-41085000.0,7090000.0,7090000.0,122162000.0,-3588000.0,-279880000.0,293066000.0,330106000.0,...,NaN,-131520000.0,3493000.0,1843025000.0,389830000.0,1453195000.0,-13939000.0,1202295000.0,-453120000.0,616415000.0
2022-03-31,385352000.0,559923000.0,104689000.0,6856000.0,6856000.0,121577000.0,5251000.0,-461355000.0,280352000.0,355804000.0,...,NaN,-38914000.0,-7406000.0,1453195000.0,1068371000.0,384824000.0,-11980000.0,797234000.0,-17845000.0,373372000.0
2021-12-31,447739000.0,423078000.0,-20892000.0,6139000.0,6139000.0,59153000.0,-7182000.0,-238406000.0,332020000.0,382124000.0,...,-522992000.0,-140738000.0,-2803000.0,384824000.0,-583055000.0,967879000.0,-23085000.0,-45000.0,-298459000.0,424654000.0

## Financeiro Anual

In [8]:
ticker.financials.T

,Total Revenue,Operating Revenue,Cost Of Revenue,Gross Profit,Operating Expense,Selling General And Administration,General And Administrative Expense,Depreciation And Amortization In Income Statement,Depreciation Income Statement,Other Operating Expenses,...,Net Interest Income,EBIT,Reconciled Cost Of Revenue,Reconciled Depreciation,Net Income From Continuing Operation Net Minority Interest,Total Unusual Items Excluding Goodwill,Total Unusual Items,Normalized EBITDA,Tax Rate For Calcs,Tax Effect Of Unusual Items
2021-12-31,3472049000.0,3472049000.0,648988000.0,2823061000.0,169246000.0,40163000.0,40163000.0,14092000.0,14092000.0,13639000.0,...,-434365000.0,3047908000.0,648988000.0,22652000.0,2213714000.0,0.0,0.0,3070560000.0,0.16,0.0
2020-12-31,3561286000.0,3561286000.0,1047979000.0,2513307000.0,152544000.0,32380000.0,32380000.0,8080000.0,8080000.0,18123000.0,...,-299907000.0,3045732000.0,1047979000.0,15280000.0,2262927000.0,0.0,0.0,3061012000.0,0.17,0.0
2019-12-31,1794959000.0,1794959000.0,574018000.0,1220941000.0,132096000.0,32523000.0,32523000.0,8194000.0,8194000.0,13123000.0,...,-151873000.0,1381056000.0,574018000.0,13201000.0,1001859000.0,9811000.0,9811000.0,1384446000.0,0.13,1275430.0

## Financeiro Trímestral

In [9]:
ticker.quarterly_financials.T

,Total Revenue,Operating Revenue,Cost Of Revenue,Gross Profit,Operating Expense,Selling General And Administration,General And Administrative Expense,Depreciation And Amortization In Income Statement,Depreciation Income Statement,Other Operating Expenses,...,Net Interest Income,EBIT,Reconciled Cost Of Revenue,Reconciled Depreciation,Net Income From Continuing Operation Net Minority Interest,Total Unusual Items Excluding Goodwill,Total Unusual Items,Normalized EBITDA,Tax Rate For Calcs,Tax Effect Of Unusual Items
2022-09-30,463793000.0,463793000.0,137843000.0,325950000.0,47334000.0,8889000.0,8889000.0,3068000.0,3068000.0,2352000.0,...,-129216000.0,479326000.0,137843000.0,-1989000.0,302454000.0,43457000.0,43457000.0,438937000.0,0.03,1303710.0
2022-06-30,847721000.0,847721000.0,93797000.0,753924000.0,54870000.0,11822000.0,11822000.0,4441000.0,4441000.0,10220000.0,...,-175603000.0,825250000.0,93797000.0,7090000.0,564022000.0,0.0,0.0,832340000.0,0.15,0.0
2022-03-31,795647000.0,795647000.0,69712000.0,725935000.0,41302000.0,6290000.0,6290000.0,4283000.0,4283000.0,1902000.0,...,-148523000.0,815800000.0,69712000.0,6856000.0,559923000.0,23047000.0,23047000.0,799609000.0,0.16,3687520.0
2021-12-31,716958000.0,716958000.0,125418000.0,591540000.0,49227000.0,15374000.0,15374000.0,3866000.0,3866000.0,3272000.0,...,172472000.0,591636000.0,125418000.0,6139000.0,423078000.0,-20243000.0,-20243000.0,618018000.0,0.09295,-1881589.134988

## Informações estatísticas

In [10]:
info = json_normalize(ticker.get_info())

In [11]:
info.columns

Index(['zip', 'sector', 'fullTimeEmployees', 'longBusinessSummary', 'city',
       'phone', 'state', 'country', 'companyOfficers', 'website',
       ...
       'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh',
       'coinMarketCapLink', 'regularMarketPrice', 'preMarketPrice', 'logo_url',
       'trailingPegRatio'],
      dtype='object', length=155)

In [12]:
info.head()

,zip,sector,fullTimeEmployees,longBusinessSummary,city,phone,state,country,companyOfficers,website,...,bid,tradeable,dividendYield,bidSize,dayHigh,coinMarketCapLink,regularMarketPrice,preMarketPrice,logo_url,trailingPegRatio
0,20010-010,Utilities,701,Transmissora Aliança de Energia Elétrica S.A. ...,Rio De Janeiro,55 21 2212 6000,RJ,Brazil,[],https://institucional.taesa.com.br/,...,35.42,False,0.1186,0,35.55,None,35.41,None,https://logo.clearbit.com/institucional.taesa....,None

In [13]:
selected = [c for c in list(info.columns) if 'divi' in c]

In [14]:
selected

['dividendRate', 'dividendYield']

In [15]:
info[selected]

   dividendRate  dividendYield
0          4.16         0.1186

## Detentores de fundo mútuo

In [16]:
ticker.get_institutional_holders()

In [17]:
ticker.get_mutualfund_holders()

## Distribuição acionária

In [18]:
ticker.get_major_holders()

        0                                      1
0   0.00%        % of Shares Held by All Insider
1  20.95%       % of Shares Held by Institutions
2  20.95%        % of Float Held by Institutions
3     177  Number of Institutions Holding Shares